doctype html
html
  include ./includes/head.jade
  body(id="top")
    if auth
      include ./includes/headerSecure.jade
    else
      include ./includes/header.jade
    section(id="main" class="wrapper style1")
      header(class="major")
        h2 #{pageTitle}
        p #{pageDescription}
      div(class="pop-table" id="resultsDiv")
        each listing, i in listingArray
          div(class="pop-row")
            div(class="pop-cell"): a(href= listing.url): img(src= listing.image align="left")
            div(class="pop-cell")
              h4(style="margin: 0;") #{listing.title}
              pre Category: #{listing.taxonomy_path}
                | Favorers: #{listing.num_favorers}
                | Views: #{listing.views}
      header(class="major")
        form(name="popularMore", id="popularMore", action="#{action}", method="post")
          input(type="submit", id="moreButton", value="more")

    script(src="/js/popular.js")
    include ./includes/foot.jade